# systemd service file to start piTelex

[Unit]
Description=piTelex
Requires=network.target
After=network.target
Documentation=https://github.com/fablab-wue/piTelex/wiki/

[Service]
Type=forking
User=andrew
Group=andrew
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
WorkingDirectory=/home/andrew/piTelex/
ExecStart=/usr/bin/screen -d -m -S piTelex /home/andrew/piTelex/telex.py -c /home/andrew/piTelex/telex_my.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
